.iu-center-box {
  width:960px;
}
.header {
  color:#333333;
  height:76px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
  height:920px;
}
.section {
  height:720px;
}
.text-37 {
  font-size:25px;
  font-weight:700;
  height:41px;
  left:25px;
  top:40px;
  width:207px;
}
.cell-32 {
  border-width:0px;
  height:28px;
  left:26px;
  line-height:28px;
  text-align:left;
  top:92px;
  width:905px;
}
.box {
  height:700px;
  left:25px;
  top:200px;
  width:912px;
}
.footer {
  background-color:#29B6F6;
  height:120px;
  left:0px;
  position:relative;
  top:0px;
  width:100%;
}