<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/resource/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/pages/keyword_analysis_page.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/compositions/header.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/compositions/footer.css">
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
    <script type="text/javascript">window.IUEditor || document.write('<script src="//s3.iueditor.org/js/iueditor-2.1.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page keyword_analysis_page">
      <header class="iu-header header">
        {% include './compositions/header.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-12">
            <div class="iu-text text-37">
              <p>키워드 분석</p>
            </div>
            <div class="iu-box box">
              <div class="iu-cell cell-18">
                <p>롯데리아 님의 카테고리 "치즈버거"에서 베이퍼 커머스 메시지로 보낸 키워드 분석 내용</p>
              </div>
            </div>
            <div class="iu-text text-23">
              <p>제목 키워드</p>
            </div>
            <div class="iu-text text-24">
              <p>내용 키워드</p>
              <p>&nbsp;</p>
            </div>
            <div class="iu-floating-image floating-image-25"></div>
            <div class="iu-text text-31"></div>
            <div class="iu-floating-image floating-image-26"></div>
            <div class="iu-text text-32"></div>
            <div class="iu-floating-image floating-image-27"></div>
            <div class="iu-text text-33"></div>
            <div class="iu-floating-image floating-image-28"></div>
            <div class="iu-text text-34"></div>
            <div class="iu-floating-image floating-image-29"></div>
            <div class="iu-text text-35"></div>
            <div class="iu-floating-image floating-image-30"></div>
            <div class="iu-text text-36"></div>
          </div>
        </section>
      </section>
      <footer class="iu-footer footer">
        {% include './compositions/footer.html' %}
      </footer>
    </div>
  </body>
</HTML>