.iu-center-box {
  width:960px;
}
.floating-image {
  background-image:url('/static/resource/project/logo.png');
  background-position:center center;
  background-size:contain;
  bottom:0px;
  height:50px;
  left:18px;
  margin-bottom:auto;
  margin-top:auto;
  top:0px;
  width:170px;
}
.cell-16 {
  bottom:0px;
  color:#929292;
  font-weight:400;
  height:65px;
  left:426px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:145px;
}
.cell-16 > a {
  line-height:65px;
}
.cell-16.iux-hover, .cell-16.iux-active {
  color:#29B6F6;
}
.cell-15 > a {
  line-height:65px;
}
.cell-15 {
  bottom:0px;
  color:#929292;
  height:65px;
  left:611px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:75px;
}
.cell-15.iux-hover, .cell-15.iux-active {
  color:#29B6F6;
}
.cell-14 > a {
  line-height:65px;
}
.cell-14 {
  bottom:0px;
  color:#929292;
  height:65px;
  left:726px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:108px;
}
.cell-14.iux-hover, .cell-14.iux-active {
  color:#29B6F6;
}
.cell {
  bottom:0px;
  color:#929292;
  height:65px;
  left:874px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:67px;
}
.cell.iux-hover, .cell.iux-active {
  color:#29B6F6;
}
.cell > a {
  line-height:65px;
}
.cell-36 {
  bottom:0px;
  color:#929292;
  height:65px;
  left:834px;
  line-height:65px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:40px;
}
.cell-37 {
  bottom:0px;
  color:#929292;
  height:65px;
  left:686px;
  line-height:65px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:40px;
}
.cell-38 {
  bottom:0px;
  color:#929292;
  height:65px;
  left:571px;
  line-height:65px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:40px;
}