<div class="iu-center-box center-box-3">
  <div class="iu-floating-image floating-image">
    <a class="iux-inner-link" href="/main">
    </a>
  </div>
  <div class="iux-has-hover iu-cell cell-16">
    <a class="iux-inner-link" href="/analysis_influence">
      <p>판매 영향 분석 &amp; 예측</p>
    </a>
  </div>
  <div class="iux-has-hover iu-cell cell-15">
    <a class="iux-inner-link" href="/recommend_item">
      <p>키워드 분석</p>
    </a>
  </div>
  <div class="iux-has-hover iu-cell cell-14">
    <a class="iux-inner-link" href="/analysis_keyword">
      <p>제휴 아이템 추천</p>
    </a>
  </div>
  <div class="iux-has-hover iu-cell cell">
    <a class="iux-inner-link" href="/sales_history">
      <p>판매 내역</p>
    </a>
  </div>
  <div class="iu-cell cell-36">
    <p>|</p>
  </div>
  <div class="iu-cell cell-37">
    <p>|</p>
  </div>
  <div class="iu-cell cell-38">
    <p>|</p>
  </div>
</div>